@font-face {
    font-family: 'Rocketron';
    src: url('/fonts/Rocketron/Rocketron.woff2') format('woff2'),
         url('/fonts/Rocketron/Rocketron.woff') format('woff'),
         url('/fonts/Rocketron/Rocketron.ttf') format('truetype'),
         url('/fonts/Rocketron/Rocketron.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }